<ion-view title="{{'MENU_OP' | translate}}">

  <ion-content padding="true" class="has-header">

	<h2>{{'IDIOMA_TEXT' | translate}}</h2>

	<button class="button button-block button-calm" ng-click="cambiaIdioma('es')">{{'IDI_ESPANOL' | translate}}</button>
	<button class="button button-block button-calm" ng-click="cambiaIdioma('en')">{{'IDI_INGLES' | translate}}</button>
	<button class="button button-block button-calm" ng-click="cambiaIdioma('fr')">{{'IDI_FRANCES' | translate}}</button>

  </ion-content>
</ion-view>