.link {
    color: #116262;
    font-weight: bold;
}

h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}

h4:first-child {
    border-top: none;
    padding-top: initial;
}

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.no-border {
    border: none;
}

.static {
    position: static;
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}
/* Menu */

.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}

.descripcion{
    text-align: justify;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.boton-camara {
    width: 100%;
    margin-bottom: 1.3em;
}

.imgCamara {
    width: 100%;
    -webkit-box-shadow: 4px 4px 15px -4px rgba(0,0,0,0.66);
    -moz-box-shadow: 4px 4px 15px -4px rgba(0,0,0,0.66);
    box-shadow: 4px 4px 15px -4px rgba(0,0,0,0.66);
}

.headerAcontecimiento{
    width: 100%;
    background-color: #FCE5E5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.favIcon {
    float: right;
    font-size: 1.8em;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.favIcon:after {
    content: "";
    background: #B2B2B2;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.favIcon:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.titleAcontecimiento{
    font-size: 1.8em;
    font-weight: bold;
    float: left;
    height: 35px;
    width: 50%;
    line-height: 35px;
}

.botonNum{
    width: 100%;
}